@font-face {
  font-family: Cardo-regular;
  src: url(./fonts/Cardo-Regular.ttf);
}
@font-face {
  font-family: Cardo-italic;
  src: url(./fonts/Cardo-Italic.ttf);
}
@font-face {
  font-family: Cardo-bold;
  src: url(./fonts/Cardo-Bold.ttf);
}
/* ul {
  padding-inline-start: 0px;
} */
.container {
  max-width: 960px;
  margin: 0 auto;
}
body {
  color: #f9fbff;
  font-family: Cardo-regular, Cardo-italic, Cardo-bold, serif;
}
.d-flex {
  display: flex;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.space-around {
  justify-content: space-around;
}
.space-between {
  justify-content: space-between;
}
.logo-container {
  gap: 5px;
}
.icon-container {
  gap: 15px;
}
.pages-container {
  gap: 10px;
}

.bg-blue {
  background-color: #1b3764;
}

.fa-brands {
  color: #f9fbff;
}

.yellow {
  color: #ffca42;
}

.blue {
  color: #1b3764;
}
.gray {
  color: #969aa0;
}
.btn {
  background-color: #ffca42;
  border: none;
  color: #1b3764;
  padding: 8px 25px;
}
.btn-no-bg {
  border: 1px solid #ffca42;
  color: #1b3764;
  padding: 8px 25px;
  background-color: transparent;
}
a {
  text-decoration: none;
  color: #f9fbff;
}
p {
  text-align: justify;
}
.bulleted::before {
  display: inline-block;
  content: "";
  border-radius: 0.375rem;
  border-radius: 0.375rem;
  height: 0.75rem;
  width: 0.75rem;
  margin-right: 0.5rem;
  background-color: #ffca42;
}

.bulleted h4 {
  display: inline;
}

.bulleted p {
  margin-left: 20px;
}

.underline {
  text-decoration: none;
  position: relative;
  color: #f9fbff;
}

.underline::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: white;
  bottom: 0;
  left: 0;
}

.lined {
  position: relative;
}
.lined::before {
  content: "";
  display: block;
  width: 20px;
  height: 0.5px;
  background: #ffca42;
  left: -20px;
  top: 50%;
  position: absolute;
}

.bookLight {
  max-height: 400px;
}

.line-sm {
  position: relative;
}

.line-sm::after {
  display: block;
  content: "";
  width: 30px;
  height: 2px;
  background: #ffca42;
  position: absolute;
  bottom: 0;
  left: 470px;
  top: 30px;
}

.books-small {
  max-height: 300px;
}

.bg-light-blue {
  background-color: #f4f8ff;
}
.books-section {
  padding: 50px 0;
}
.author-section {
  padding: 50px 0;
  gap: 60px;
}
.author-section img {
  max-height: 350px;
}
.about-author-underline {
  position: relative;
}
.about-author-underline::before {
  display: block;
  content: "";
  width: 100%;
  height: 1px;
  background: #ffca42;
  position: absolute;
  bottom: 0;
  left: 0;
}
.border-right-yellow {
  border-right: solid #ffca42;
  padding-right: 50px;
}
.visit-card {
  margin-top: 30px;
}
